.body-wrapper {
  overflow: hidden; }

.heading {
  position: relative;
  padding: 30px 20px 20px; }
  .heading h1 {
    font-size: 44px;
    line-height: 1.2;
    color: #251b1c;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 10px; }
    .heading h1:before, .heading h1:after {
      position: absolute;
      top: 0;
      left: 100%;
      right: -9999px;
      content: '';
      background: #3b3b3b;
      height: 9px;
      top: 50%;
      margin-top: -5px; }
    .heading h1:before {
      right: 100%;
      left: -9999px; }

.article-holder {
  padding-bottom: 60px; }
  .article-holder .col-holder {
    margin: 0;
    padding: 40px 0;
    overflow: hidden; }
    .article-holder .col-holder:nth-child(2n) .text-box {
      float: right;
      border-left: none;
      border-right: 3px solid #3b3b3b; }
      .article-holder .col-holder:nth-child(2n) .text-box p {
        text-align: right; }
    .article-holder .col-holder:nth-child(2n) .img-holder {
      padding-left: 0;
      padding-right: 20px; }
  .article-holder .col {
    float: left;
    width: 50%;
    padding: 0 30px; }
  .article-holder .text-box {
    padding-top: 95px;
    white-space: nowrap;
    position: relative;
    border-left: 3px solid #3b3b3b; }
    .article-holder .text-box:after {
      height: 100%;
      content: '';
      display: inline-block;
      vertical-align: bottom;
      width: 1px;
      overflow: hidden; }
    .article-holder .text-box .text-wrap {
      display: inline-block;
      vertical-align: bottom;
      white-space: normal;
      margin-bottom: -15px; }
  .article-holder .img-holder {
    padding-right: 0; }
    .article-holder .img-holder img {
      width: 100%;
      max-width: none;
      height: auto; }
  .article-holder h2 {
    position: absolute;
    font-size: 39px;
    line-height: 45px;
    margin: 0;
    left: 30px;
    right: 30px;
    top: 0;
    font-weight: bold;
    color: #494949;
    text-transform: capitalize; }
    .article-holder h2 .text-right {
      display: block; }

.top-banner {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px; }
  .top-banner .col {
    display: table-cell;
    vertical-align: middle;
    width: 40%; }
    .top-banner .col.img-holder {
      width: 60%; }
  .top-banner .text-box {
    background: #3b3b3b;
    color: #d1d2d4;
    font-size: 26px;
    line-height: 28px;
    height: 354px; }
    .top-banner .text-box .text-content {
      max-width: 450px;
      padding: 30px; }
    .top-banner .text-box h2 {
      font-size: 39px;
      line-height: 1.2;
      margin: 0;
      color: #d1d2d4;
      font-weight: bold;
      text-transform: uppercase; }
    .top-banner .text-box p {
      color: #d1d2d4; }

footer .copyright-txt {
  display: block; }

@media only screen and (max-width: 1024px) {
  .article-holder h2 {
    font-size: 28px;
    line-height: 36px; }

  .article-holder .col.img-holder {
    padding: 0; } }
@media only screen and (max-width: 992px) {
  .article-holder .text-box {
    padding-top: 66px; }

  .article-holder h2 {
    font-size: 22px;
    line-height: 28px; }

  .article-holder .col.img-holder {
    padding: 0; } }
@media only screen and (max-width: 767px) {
  .navbar-toggle {
    margin-top: 38px; }

  .heading {
    padding: 20px 30px 0; }

  .heading h1 {
    font-size: 23px; }

  .heading h1:before, .heading h1:after {
    height: 5px;
    margin-top: -3px; }

  .article-holder {
    padding: 0 0 20px; }

  .article-holder .col-holder {
    padding-bottom: 0; }

  .article-holder .col-holder p {
    font-size: 16px;
    line-height: 1.2; }

  .article-holder .text-box {
    padding-top: 66px; }

  .article-holder .col.text-box {
    padding-top: 0; }

  .article-holder h2 {
    font-size: 18px;
    line-height: 26px;
    position: relative;
    left: 0;
    right: auto;
    margin-bottom: 15px; }

  .article-holder .col {
    float: none;
    width: 100%;
    height: auto !important; }

  .article-holder .col.text-box {
    margin-bottom: 30px; }

  .top-banner .col {
    display: block;
    width: 100%; }

  .top-banner .col.img-holder {
    background: none !important;
    padding: 0;
    width: 100%; }

  .top-banner .col.img-holder img {
    width: 100%;
    height: auto; }

  .top-banner .text-box .text-content {
    width: 100%;
    max-width: none;
    padding: 20px; }

  .top-banner .text-box {
    height: auto; }

  .footer .footer-navbar {
    max-width: none;
    text-align: center; }

  .footer .footer-navbar ul li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px; }

  .footer {
    padding-bottom: 25px; }

  .footer .copyright-txt .all-rights {
    display: inline-block;
    margin: 0 0 5px; } }

/*# sourceMappingURL=custom.css.map */
