@font-face {
  font-family:"Melbourne";
  src:url("Melbourne_reg.eot?") 
  format("eot"),url("Melbourne_reg.woff") 
  format("woff"),
  url("Melbourne_reg.ttf") 
  format("truetype"),
  url("Melbourne_reg.svg#Melbourne") 
  format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Melbourne-Bold';
  src: url('Melbourne_bold.otf');
}

body{
  font-family: 'Roboto', sans-serif;

}
h1, h2, h3, h4, h5, h6{
  font-family: 'Melbourne-Bold', sans-serif;
}
h2{
  font-weight: 300;
  color:#be1e2d;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  font-weight: 300;
  color:#5e5e5e;
  line-height:28px;
}
a{

  text-decoration: none;
  color:#be1e2d; 

}
a:hover {
  text-decoration: none;
  color:black;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.clear {
  clear: both;
}
.terms{
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  font-weight: 300;
  color:#5e5e5e;
  line-height:28px; 
  text-align:center;
}
.modal-dialog{
  max-width:455px;

}
.modal-header{
  border-bottom:0px;
}
.form-header{
  text-align:center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#333333;
  font-size:27px;
  margin-bottom:20px;
}
.modal-footer{
  border-top:0px;
}

.loginbox{
  max-width:160px;
  background-color:#f2f2f2;
  margin-top:20px;
  margin-right:15px;
  border-radius: 25px;
  padding:10px 15px;
  display: block;
  color: #be1e2d;

}
.log-btn {
  background: #be1e2d;
  display: block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 120px;
  margin: 0 auto;
  padding: 10px 15px;

}
.signup-btn {
  background: #be1e2d;
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 120px;
  margin: 5px auto;
  padding: 5px 10px;

}
.signup-btn:hover {
  background: #be1e2d;
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 120px;
  margin: 5px auto;
  padding: 5px 10px;
  
}
.radiostyle{
  background-color:white;

}

label{

  position: relative;
  font-weight: 300;
  font-size: 16px;

  margin-right:40px;
  height: 30px;
  z-index: 9;
  
  
}

.form-control{
 font-family: 'Roboto', sans-serif;
 font-size:14px;
 font-weight: 300;
 color:#5e5e5e;
 border:0;
 border-bottom: 1px solid #bdbdbd;
 box-shadow: none;
 border-radius:0px;
 padding-left:0px;
 margin:auto;
 margin-bottom:20px;
 margin-top: 15px;


}
.form-group {
  position: relative;
  margin-bottom: 15px;
  margin:auto;
}

.form-control:focus, .form-control:focus + .fa, .form-control:active, .form-control:active + .fa, .has-success .form-control, .has-success .form-control:focus  {
  border-color:#be1e2d;
  box-shadow: none;
  color:#be1e2d;
}

.has-error .form-control, .has-error .form-control:focus {
  box-shadow: none;
}

.form-group .fa {
  position: absolute;
  right: 0px;
  top: 10px;
  color: #333333;
}

.loginbox img {
  display: inline-block;
}

.loginbox a{
 font-size:14px;
 font-weight:500;
 color:#be1e2d; 
}

.navbar-default{
  background-color:white;

}

.navbar-header{
  background-color: white;
  height: 112px;


}
.navbar-brand{
  margin-top:20px;
}
#navbar{
  margin-top:0px;
  margin-bottom:0px;
  float: right;

}
.navbar{

  margin-bottom:0px;

}
.navbar-default .navbar-nav>li>a {
 font-size:14px;
 font-weight:500;
 color:#be1e2d;  
}
.jumbotron{
  background-image: url(../img/big-banner-b.jpg);
  background-position: center;
  height:350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron .container {
  text-align: center;
}
.jumbotron .container h1 {
  color:white;
  font-size:34px;
  font-weight:300;
}
.jumbotron .container p {
  color:white;
  font-size:20px;
  font-weight:500
}
#platform-features .single-feature {
  overflow:hidden;
}
.footer{
  font-family: 'Melbourne';
  background-color: #3b3b3b;
  padding-top:25px;
  padding-bottom:15px;
  border-top:solid;
  border-top-width: 4px;
  border-top-color: #777777;
  color: #FFF;
}

.footer .container {
  text-align: center;
}

.footer .footer-navbar {
  display: block;
  float: left;
}

.footer .footer-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer-navbar ul li {
  float: left;
  margin-right: 15px;
}
.footer .footer-navbar ul li a {
  color: #FFF;
}
.footer .footer-navbar ul li a:hover {
  text-decoration: underline;
}
.footer .footer-social {
  display: block;
  float: right;
}
.footer .footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .footer-social ul li {
  float: left;
  margin-left: 15px;
}
.footer .footer-social ul li a {
  line-height: 32px;
  width: 32px;
  height: 32px;
  display: block;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer .footer-social ul li a.fb {
  background: url("../img/fb.png") top no-repeat;
}
.footer .footer-social ul li a.tw {
  background: url("../img/tw.png") top  no-repeat;
}
.footer .footer-social ul li a:focus, .footer .footer-social ul li a:hover, .footer .footer-social ul li a:active {
  background-position: bottom;
}
footer .copyright-txt {
  display: inline-block;
}
.jumbotron .signup-btn {
  background: rgba(250, 250, 250, 0.1);
  border: 1px solid #FFF;
  color: #FFF;
  margin-top: 25px;
}
.jumbotron .signup-btn:active, .jumbotron .signup-btn:hover {
  background: rgba(250, 250, 250, 0.2);
  border: 1px solid #FFF;
  color: #FFF;
}
#more-advice {
  margin-top:50px; margin-bottom:50px;
}
#more-advice .single-advice {
  overflow:hidden;
  text-align:center;
}
#more-advice h2 {
  text-align: center;
  color: #5e5e5e;
}
.user-types label {
  cursor: pointer;
}
#auth-div {
  max-width: 360px;
  margin: 50px auto;
}
#auth-div h4 {
  margin: 0 auto 30px;
}
.profile-container {
  padding: 10px 0;
  background-color: #f2f2f2;
}
.profile-container .profile-left .box {
  background-color: #FFF;
  border-top: 4px solid #be1e2d;
  padding: 20px 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.profile-container .profile-left .box .profile-user-img {
  margin: 5px auto;
  border: 3px solid #777;
  padding: 1px;
}
.profile-container .profile-left .box .box-title {
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  font-weight: lighter;
  margin-top: 0;
  padding: 0px 10px 5px;
}
.profile-container .profile-left .box .box-body {
  padding: 0 10px;
  margin-bottom: -15px;
}
.body-right {
  background-color: #FFF;
  border-top: 4px solid #be1e2d;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}
.dashboard-container {
  padding-top: 10px;
  background-color: #F2F2F2;
}
.dashboard-container .dashboard-left {
  background-color: #FFF;
  border-top: 4px solid #be1e2d;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't
  support rgba */
  background: rgba(255, 255, 255, .8);
}
.dashboard-container .dashboard-left .box-header h3 {
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  font-weight: bold;
  margin: 0;
  padding: 15px 10px;
  font-size: 18px;
  color: #be1e2d;
  background-color: #FFF;
}
.dashboard-container .dashboard-right {
  background-color: #FFF;
  border-bottom: 4px solid #be1e2d;
  margin: 10px 0 20px;
  border-radius: 5px;
  padding: 20px 30px 10px;
}
.dashboard-left .box-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dashboard-left .box-body ul li {
  border-bottom: 1px solid #f2f2f2;
}
.dashboard-left .box-body ul li:last-child {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.dashboard-left .box-body ul li a {
  color: #be1e2d;
  display: block;
  padding: 5px 15px;
  font-size: 18px;
}
.dashboard-left .box-body ul li a:hover, .dashboard-left .box-body ul li a.active {
  background-color: #FFF;
}
.compose-btn {
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't
  support rgba */
  background: rgba(255, 255, 255, .8);
  display: block;
  font-size: 16px;
  color: #be1e2d;
  text-decoration: none;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  font-weight: bolder;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.dashboard-left input, .dashboard-left select {
  padding: 5px 10px;
}
.compose-btn:hover {
  background: rgb(255, 255, 255);
  color: #be1e2d;
}
.dashboard-single-user {
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.dashboard-single-user .description {
  font-size: 16px;
}
.dashboard-single-user .user-image {
  max-width:130px;
  margin:0 auto;
  box-shadow: 0px 0px 0px 4px #F2F2F2;
  padding:1px;
}
.dashboard-single-user h4 {
  text-align: center;
  margin-top: 6px;
}
.dashboard-right-btn {
  background: #3B3B3B;
  display: block;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 120px;
  margin: 5px auto;

}
.dashboard-right-btn:hover {
  background: #3B3B3B;
  display: block;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 120px;
  margin: 5px auto;
  
}
.dashboard-right-btn.profile {
  background: #be1e2d;

}
.dashboard-right-btn.profile:hover {
  background: #be1e2d;
  
}
.profile-left .form-control[disabled], .profile-left .form-control[readonly], .profile-left fieldset[disabled] .form-control {
  background: none;
  cursor: default;
}
.submit-filter {
  margin: 10px auto;
  max-width: 71px;
  display: inline-block;
}
.social-holder {
  text-align: center;
}
.navbar-brand img {
  height: 60px;
}
html,
body{
  height: 100%;
}
.body-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100%;
}
#footer {
  display: table-footer-group;
  height: 1%;
  overflow: hidden;
  width: 100%;
}
.contact-us .col-md-8, .contact-us .col-md-12, .contact-us .col-md-6 {
  padding-left: 0;
}
.contact-us .right-side {
  font-family: 'Melbourne';
  display: inline-block;
  vertical-align: middle;
  float: none;
  text-align: center;
}

.blogs-container {
  padding-top: 20px;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blogs-container .item {
  position: relative;
  margin-right: 1%;
  overflow: hidden;
  width: 375px;
  cursor: pointer;
  float: left;
}
.blogs-container .item img {
  max-width: 100%;
  
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.blogs-container .item:hover img {
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
.blogs-container h3 {
  margin-top: 0;
}
.blogs-container h3 a {
  color: #333333;
}
.blogs-container h3 a:hover {
  color: #be1e2d;
}
.blogs-container hr {
  clear: left;
}

.profile-container .box-primary {
  padding: 10px 10px 20px;
  margin: 20px 0;
}
.profile-container .box-primary strong {
  display: block;
  font-size: 18px;
  padding-bottom: 10px;
}
.profile-container .box-primary hr{
  margin: 10px 0 20px;
}
.profile-container .box-primary input{
  margin-top: 0;
  margin-bottom: 10px;
  border: none;
}
.profile-container .box-primary p{
  font-size: 14px;
}
.body-right .map-holder{
  padding-bottom: 20px;

}
.body-right .form-group p{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.body-right .content-box{
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
}
.body-right .content-box i.fa-book{
  left: -4px;
  top: 4px;
}
.alert-message {
  margin: 0 auto;
  text-align: center;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
#reward-title {
    display:inline-block;
    float:right;
    color:#D4AF37;
    cursor: pointer;
}