/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.footer .footer-navbar {
		display: block;
		float: none;
		max-width: 195px;
		margin: 0 auto;
	}
	.footer .footer-navbar li:last-child {
		clear: right;
		float: none;
	}
	.footer .copyright-txt {
		display: block;
		float: none;
		max-width: 319px;
		margin: 5px auto;
		clear: both;
	}
	.footer .footer-social {
		display: block;
		float: none;
		max-width: 95px;
		margin:0 auto;
	}
	#navbar, .loginbox {
		float: none !important;
	}
	.navbar-brand img {
		max-height: 45px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.footer .footer-navbar li {
		float: none !important;
		display: block;
		margin: 10px auto;
	}
	.footer .copyright-txt .all-rights {
		float: none;
		display: block;
		margin: 10px auto;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


