.clear {
	clear: both;
}
.user-profile .col-sm-10 {
    padding-top: 7px;
}

#inbox-tbl td a {
	color: #333;
}

#inbox-tbl tr.unread {
	color: #3c8dbc;
}

#inbox-tbl tr.unread td a {
	color: #3c8dbc;
}

#dashboard-donut-chart {
	padding-bottom: 15px;
}
#filter-donute-chart-btn {
	margin-left: 10px;
}